.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 50px;
  margin: 0 auto;
  justify-content: center;
}

.elements__element {
  border-radius: 10px;
  background-color: white;
  border: solid black 1px;
}

.elements__image {
  height: auto;
  width: 100%;
}

.elements__info {
  padding: 25px 15px 31px 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.elements__text {
  margin: 0;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 92.55%;
}

.elements__heart {
  width: 21px;
  height: 19px;
}

.like-button_active .elements__heart {
  color: #000;
}

@media screen and (max-width: 880px) {
  .elements {
    grid-template-columns: 33.75% 33.75%;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 100%;
    padding: 36px 5.94% 0px;
  }
}
